@font-face {
  font-family: 'ICE';
  src:
    url('fonts/ICE.ttf?i8bgun') format('truetype'),
    url('fonts/ICE.woff?i8bgun') format('woff'),
    url('fonts/ICE.svg?i8bgun#ICE') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: 'ICE' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ICE-Icon-sent:before {
  content: '\e906';
}

.ICE-Icon-seen:before {
  content: '\e911';
}

.ICE-Icon-Temprory-icon:before {
  content: '\e905';
}

.ICE-Icon-close-fill:before {
  content: '\ea2a';
}

.ICE-Icon-colse-in-frame:before {
  content: '\ea2b';
}

.ICE-Icon-minus-fill:before {
  content: '\ea29';
}

.ICE-Icon-contracts:before {
  content: '\e9c2';
}

.ICE-Icon-line-chart-in-frame:before {
  content: '\e9c3';
}

.ICE-Icon-project-data:before {
  content: '\e9c4';
}

.ICE-Icon-enquiry-pipeline:before {
  content: '\e9c5';
}

.ICE-Icon-onboarding:before {
  content: '\e9c6';
}

.ICE-Icon-project-post-reflection:before {
  content: '\e9c7';
}

.ICE-Icon-project-delivery:before {
  content: '\e9c8';
}

.ICE-Icon-lead-review-stage:before {
  content: '\e9c9';
}

.ICE-Icon-sound-on-fill:before {
  content: '\e9ca';
}

.ICE-Icon-sound-off-fill:before {
  content: '\e9cb';
}

.ICE-Icon-sound-on:before {
  content: '\e9cc';
}

.ICE-Icon-sound-off:before {
  content: '\e9cd';
}

.ICE-Icon-GIF-file:before {
  content: '\e9ce';
}

.ICE-Icon-SVG-file:before {
  content: '\e9cf';
}

.ICE-Icon-JPG-file:before {
  content: '\e9d0';
}

.ICE-Icon-MP4-file:before {
  content: '\e9d1';
}

.ICE-Icon-PPTX-file:before {
  content: '\e9d2';
}

.ICE-Icon-PNG-file:before {
  content: '\e9d3';
}

.ICE-Icon-PDF-file:before {
  content: '\e9d4';
}

.ICE-Icon-hang-up:before {
  content: '\e9d5';
}

.ICE-Icon-introductory-meeting:before {
  content: '\e9d6';
}

.ICE-Icon-my-enquiries:before {
  content: '\e9d7';
}

.ICE-Icon-content-hub:before {
  content: '\e9d8';
}

.ICE-Icon-schedule-planner:before {
  content: '\e9d9';
}

.ICE-Icon-planning:before {
  content: '\e9da';
}

.ICE-Icon-templates-design:before {
  content: '\e9db';
}

.ICE-Icon-table:before {
  content: '\e9dc';
}

.ICE-Icon-brandkit-crop-without-boarder:before {
  content: '\e9dd';
}

.ICE-Icon-crop:before {
  content: '\e9de';
}

.ICE-Icon-resolve:before {
  content: '\e9df';
}

.ICE-Icon-add-reaction:before {
  content: '\e9e0';
}

.ICE-Icon-spam:before {
  content: '\e9e1';
}

.ICE-Icon-heart:before {
  content: '\e9e2';
}

.ICE-Icon-Star-shape:before {
  content: '\e9e3';
}

.ICE-Icon-eraser:before {
  content: '\e9e4';
}

.ICE-Icon-marker:before {
  content: '\e9e5';
}

.ICE-Icon-pencil:before {
  content: '\e9e6';
}

.ICE-Icon-arrow3-line:before {
  content: '\e9e7';
}

.ICE-Icon-arrow1-line:before {
  content: '\e9e8';
}

.ICE-Icon-arrow2-line:before {
  content: '\e9e9';
}

.ICE-Icon-v-dash-line:before {
  content: '\e9ea';
}

.ICE-Icon-v-line:before {
  content: '\e9eb';
}

.ICE-Icon-rectangle-shape:before {
  content: '\e9ec';
}

.ICE-Icon-square-shape:before {
  content: '\e9ed';
}

.ICE-Icon-triangle-shape:before {
  content: '\e9ee';
}

.ICE-Icon-district-6-shape:before {
  content: '\e9ef';
}

.ICE-Icon-district-8-shape:before {
  content: '\e9f0';
}

.ICE-Icon-circle-shape:before {
  content: '\e9f1';
}

.ICE-Icon-pending:before {
  content: '\e9f2';
}

.ICE-Icon-stop-circle:before {
  content: '\e9f3';
}

.ICE-Icon-pause-circle:before {
  content: '\e9f4';
}

.ICE-Icon-status:before {
  content: '\e9f5';
}

.ICE-Icon-chevron-circle-right:before {
  content: '\e9f6';
}

.ICE-Icon-chevron-circle-left:before {
  content: '\e9f7';
}

.ICE-Icon-chevron-circle-up:before {
  content: '\e9f8';
}

.ICE-Icon-chevron-circle-down:before {
  content: '\e9f9';
}

.ICE-Icon-contract-up-down:before {
  content: '\e9fa';
}

.ICE-Icon-expand-hight:before {
  content: '\e9fb';
}

.ICE-Icon-connection:before {
  content: '\e9fc';
}

.ICE-Icon-info-octagon:before {
  content: '\e9fe';
}

.ICE-Icon-draw:before {
  content: '\e9ff';
}

.ICE-Icon-new-design:before {
  content: '\ea00';
}

.ICE-Icon-element:before {
  content: '\ea01';
}

.ICE-Icon-version-histroy:before {
  content: '\ea02';
}

.ICE-Icon-thickness:before {
  content: '\ea03';
}

.ICE-Icon-shuffle-color:before {
  content: '\ea04';
}

.ICE-Icon-move-to-folder:before {
  content: '\ea05';
}

.ICE-Icon-copy-with-arrow:before {
  content: '\ea06';
}

.ICE-Icon-design:before {
  content: '\ea07';
}

.ICE-Icon-check-circle-alt:before {
  content: '\ea08';
}

.ICE-Icon-comment:before {
  content: '\ea09';
}

.ICE-Icon-text:before {
  content: '\ea0a';
}

.ICE-Icon-shape:before {
  content: '\ea0c';
}

.ICE-Icon-frame:before {
  content: '\ea0d';
}

.ICE-Icon-file:before {
  content: '\ea0e';
}

.ICE-Icon-refresh-alt:before {
  content: '\ea0f';
}

.ICE-Icon-corner-down-left-fill:before {
  content: '\ea10';
}

.ICE-Icon-corner-down-left:before {
  content: '\ea11';
}

.ICE-Icon-view-all-comment:before {
  content: '\ea12';
}

.ICE-Icon-user-remove:before {
  content: '\ea13';
}

.ICE-Icon-user-check:before {
  content: '\ea14';
}

.ICE-Icon-users:before {
  content: '\ea15';
}

.ICE-Icon-alert-Info:before {
  content: '\ea16';
}

.ICE-Icon-alert-warning:before {
  content: '\ea17';
}

.ICE-Icon-alert-error:before {
  content: '\ea18';
}

.ICE-Icon-share-in-frame-fill:before {
  content: '\ea19';
}

.ICE-Icon-alert-success:before {
  content: '\ea1a';
}

.ICE-Icon-brand-kit:before {
  content: '\ea1b';
}

.ICE-Icon-forward:before {
  content: '\ea1c';
}

.ICE-Icon-backward:before {
  content: '\ea1d';
}

.ICE-Icon-flip-horizontal:before {
  content: '\ea1e';
}

.ICE-Icon-flip-vertical:before {
  content: '\ea1f';
}

.ICE-Icon-project:before {
  content: '\ea20';
}

.ICE-Icon-align-center:before {
  content: '\ea21';
}

.ICE-Icon-align-down:before {
  content: '\ea22';
}

.ICE-Icon-align-up:before {
  content: '\ea23';
}

.ICE-Icon-align-left:before {
  content: '\ea24';
}

.ICE-Icon-alignright:before {
  content: '\ea25';
}

.ICE-Icon-rotate-crop:before {
  content: '\ea26';
}

.ICE-Icon-crop-in-frame:before {
  content: '\ea27';
}

.ICE-Icon-align-h-center:before {
  content: '\ea28';
}

.ICE-Icon-forward1:before {
  content: '\e900';
}

.ICE-Icon-article:before {
  content: '\e901';
}

.ICE-Icon-trash-in-frame:before {
  content: '\e902';
}

.ICE-Icon-clear-cursor:before {
  content: '\e903';
}

.ICE-Icon-play-fill:before {
  content: '\e904';
}

.ICE-Icon-play:before {
  content: '\e907';
}

.ICE-Icon-x-octagon:before {
  content: '\e908';
}

.ICE-Icon-upload:before {
  content: '\e909';
}

.ICE-Icon-unlock:before {
  content: '\e90a';
}

.ICE-Icon-trash:before {
  content: '\e90c';
}

.ICE-Icon-check-circle:before {
  content: '\e90d';
}

.ICE-Icon-teacher:before {
  content: '\e90e';
}

.ICE-Icon-tasks:before {
  content: '\e90f';
}

.ICE-Icon-sub-task:before {
  content: '\e910';
}

.ICE-Icon-star-fill:before {
  content: '\e912';
}

.ICE-Icon-share:before {
  content: '\e913';
}

.ICE-Icon-share-fill:before {
  content: '\e914';
}

.ICE-Icon-setting-cog:before {
  content: '\e915';
}

.ICE-Icon-seting-as-default:before {
  content: '\e916';
}

.ICE-Icon-school-staff:before {
  content: '\e917';
}

.ICE-Icon-calendar-edit:before {
  content: '\e918';
}

.ICE-Icon-swap:before {
  content: '\e919';
}

.ICE-Icon-reply:before {
  content: '\e91a';
}

.ICE-Icon-scan:before {
  content: '\e91b';
}

.ICE-Icon-pupil:before {
  content: '\e91c';
}

.ICE-Icon-projects:before {
  content: '\e91d';
}

.ICE-Icon-priority-up:before {
  content: '\e91e';
}

.ICE-Icon-plus-small:before {
  content: '\e91f';
}

.ICE-Icon-plus-circle:before {
  content: '\e920';
}

.ICE-Icon-play-circle-fill:before {
  content: '\e921';
}

.ICE-Icon-task-planning:before {
  content: '\e922';
}

.ICE-Icon-pipelines:before {
  content: '\e923';
}

.ICE-Icon-users2:before {
  content: '\e924';
}

.ICE-Icon-partners:before {
  content: '\e925';
}

.ICE-Icon-parents:before {
  content: '\e926';
}

.ICE-Icon-opration:before {
  content: '\e927';
}

.ICE-Icon-open-in-new-tab:before {
  content: '\e928';
}

.ICE-Icon-move-to-inbox:before {
  content: '\e929';
}

.ICE-Icon-user-setting:before {
  content: '\e92a';
}

.ICE-Icon-pencil1:before {
  content: '\e92b';
}

.ICE-Icon-logout:before {
  content: '\e92c';
}

.ICE-Icon-login:before {
  content: '\e92d';
}

.ICE-Icon-image-fill:before {
  content: '\e92e';
}

.ICE-Icon-home:before {
  content: '\e92f';
}

.ICE-Icon-go-to:before {
  content: '\e930';
}

.ICE-Icon-plus-circle-fill:before {
  content: '\e931';
}

.ICE-Icon-forbiden:before {
  content: '\e932';
}

.ICE-Icon-file-fill:before {
  content: '\e933';
}

.ICE-Icon-faq:before {
  content: '\e934';
}

.ICE-Icon-open-eye-fill:before {
  content: '\e935';
}

.ICE-Icon-closed-eye-fill:before {
  content: '\e936';
}

.ICE-Icon-edit:before {
  content: '\e938';
}

.ICE-Icon-clock:before {
  content: '\e939';
}

.ICE-Icon-download:before {
  content: '\e93a';
}

.ICE-Icon-director:before {
  content: '\e93b';
}

.ICE-Icon-consultants:before {
  content: '\e93d';
}

.ICE-Icon-color-picker:before {
  content: '\e93e';
}

.ICE-Icon-close-circle-fill:before {
  content: '\e93f';
}

.ICE-Icon-close-circle:before {
  content: '\e940';
}

.ICE-Icon-circle:before {
  content: '\e941';
}

.ICE-Icon-user-tie:before {
  content: '\e942';
}

.ICE-Icon-card-holder:before {
  content: '\e943';
}

.ICE-Icon-bills_plans:before {
  content: '\e944';
}

.ICE-Icon-plus:before {
  content: '\e945';
}

.ICE-Icon-association:before {
  content: '\e946';
}

.ICE-Icon-associates:before {
  content: '\e947';
}

.ICE-Icon-assigns:before {
  content: '\e948';
}

.ICE-Icon-alert-triangle:before {
  content: '\e949';
}

.ICE-Icon-affiliates:before {
  content: '\e94a';
}

.ICE-Icon-admin:before {
  content: '\e94b';
}

.ICE-Icon-minus-in-frame:before {
  content: '\e94c';
}

.ICE-Icon-plus-in-frame-fill:before {
  content: '\e94d';
}

.ICE-Icon-plus-in-frame:before {
  content: '\e94e';
}

.ICE-Icon-id-card:before {
  content: '\e94f';
}

.ICE-Icon-security:before {
  content: '\e950';
}

.ICE-Icon-paste:before {
  content: '\e951';
}

.ICE-Icon-minus-circle:before {
  content: '\e952';
}

.ICE-Icon-website:before {
  content: '\e90b';
}

.ICE-Icon-voice-off:before {
  content: '\e937';
}

.ICE-Icon-voice-on:before {
  content: '\e953';
}

.ICE-Icon-arrow-up:before {
  content: '\e954';
}

.ICE-Icon-chevron-up:before {
  content: '\e955';
}

.ICE-Icon-underlined:before {
  content: '\e956';
}

.ICE-Icon-strike-through:before {
  content: '\e957';
}

.ICE-Icon-numberd-list:before {
  content: '\e958';
}

.ICE-Icon-justified:before {
  content: '\e959';
}

.ICE-Icon-italic:before {
  content: '\e95c';
}

.ICE-Icon-bulleted-list:before {
  content: '\e95d';
}

.ICE-Icon-bold:before {
  content: '\e95e';
}

.ICE-Icon-align-right:before {
  content: '\e95f';
}

.ICE-Icon-align-left1:before {
  content: '\e960';
}

.ICE-Icon-align-center1:before {
  content: '\e961';
}

.ICE-Icon-image:before {
  content: '\e962';
}

.ICE-Icon-letter-spacing:before {
  content: '\e963';
}

.ICE-Icon-check:before {
  content: '\e966';
}

.ICE-Icon-t-tip:before {
  content: '\e968';
}

.ICE-Icon-light-mode:before {
  content: '\e969';
}

.ICE-Icon-start-recording:before {
  content: '\e965';
}

.ICE-Icon-star:before {
  content: '\e95a';
}

.ICE-Icon-spotlight:before {
  content: '\e95b';
}

.ICE-Icon-social-media:before {
  content: '\e96d';
}

.ICE-Icon-share-sceen-stop:before {
  content: '\e96e';
}

.ICE-Icon-share-screen:before {
  content: '\e96f';
}

.ICE-Icon-forward-in-frame:before {
  content: '\e970';
}

.ICE-Icon-setting:before {
  content: '\e971';
}

.ICE-Icon-send:before {
  content: '\e972';
}

.ICE-Icon-search:before {
  content: '\e973';
}

.ICE-Icon-schedule-planner1:before {
  content: '\e974';
}

.ICE-Icon-room-booking:before {
  content: '\e975';
}

.ICE-Icon-arrow-right:before {
  content: '\e976';
}

.ICE-Icon-chevron-right:before {
  content: '\e977';
}

.ICE-Icon-swap-in-frame:before {
  content: '\e993';
}

.ICE-Icon-report-a-problem:before {
  content: '\e992';
}

.ICE-Icon-refresh:before {
  content: '\e979';
}

.ICE-Icon-qr-code-in-frame:before {
  content: '\e97a';
}

.ICE-Icon-profile:before {
  content: '\e97b';
}

.ICE-Icon-play-circle:before {
  content: '\e97c';
}

.ICE-Icon-planning1:before {
  content: '\e97d';
}

.ICE-Icon-pin:before {
  content: '\e97e';
}

.ICE-Icon-payment:before {
  content: '\e97f';
}

.ICE-Icon-participant:before {
  content: '\e980';
}

.ICE-Icon-parent-request:before {
  content: '\e981';
}

.ICE-Icon-parent-notifications:before {
  content: '\e982';
}

.ICE-Icon-notification:before {
  content: '\e983';
}

.ICE-Icon-newsletter:before {
  content: '\e984';
}

.ICE-Icon-news-channel:before {
  content: '\e978';
}

.ICE-Icon-more:before {
  content: '\e985';
}

.ICE-Icon-apps:before {
  content: '\e994';
}

.ICE-Icon-dark-mode:before {
  content: '\e995';
}

.ICE-Icon-mobile-alerts:before {
  content: '\e986';
}

.ICE-Icon-mobile:before {
  content: '\e987';
}

.ICE-Icon-minimize:before {
  content: '\e988';
}

.ICE-Icon-message:before {
  content: '\e989';
}

.ICE-Icon-maximize:before {
  content: '\e98a';
}

.ICE-Icon-lock:before {
  content: '\e98b';
}

.ICE-Icon-bulleted-list-alt:before {
  content: '\e98c';
}

.ICE-Icon-arrow-left:before {
  content: '\e98d';
}

.ICE-Icon-chevron-left:before {
  content: '\e98e';
}

.ICE-Icon-languages:before {
  content: '\e98f';
}

.ICE-Icon-tag:before {
  content: '\e990';
}

.ICE-Icon-Info-circle:before {
  content: '\e991';
}

.ICE-Icon-user-circle-stick:before {
  content: '\e996';
}

.ICE-Icon-calls-circle:before {
  content: '\e998';
}

.ICE-Icon-loading:before {
  content: '\e999';
}

.ICE-Icon-help-center:before {
  content: '\e99a';
}

.ICE-Icon-gride:before {
  content: '\e99b';
}

.ICE-Icon-minus:before {
  content: '\e99c';
}

.ICE-Icon-conversation:before {
  content: '\e99d';
}

.ICE-Icon-folder:before {
  content: '\e99e';
}

.ICE-Icon-filter:before {
  content: '\e99f';
}

.ICE-Icon-file1:before {
  content: '\e9a0';
}

.ICE-Icon-eye-opened:before {
  content: '\e9a1';
}

.ICE-Icon-eye-closed:before {
  content: '\e9a2';
}

.ICE-Icon-events:before {
  content: '\e9a3';
}

.ICE-Icon-emojie:before {
  content: '\e9a4';
}

.ICE-Icon-email-unread:before {
  content: '\e9a5';
}

.ICE-Icon-email-read:before {
  content: '\e997';
}

.ICE-Icon-email-inbox:before {
  content: '\e9a8';
}

.ICE-Icon-email:before {
  content: '\e9a9';
}

.ICE-Icon-edit-in-frame:before {
  content: '\e9aa';
}

.ICE-Icon-draft:before {
  content: '\e9ab';
}

.ICE-Icon-download-attendance-list:before {
  content: '\e9ac';
}

.ICE-Icon-arrow-down:before {
  content: '\e9ae';
}

.ICE-Icon-chevron-down:before {
  content: '\e9af';
}

.ICE-Icon-detention:before {
  content: '\e9b0';
}

.ICE-Icon-user:before {
  content: '\e9b1';
}

.ICE-Icon-copy:before {
  content: '\e9b2';
}

.ICE-Icon-close:before {
  content: '\e9b3';
}

.ICE-Icon-close-small:before {
  content: '\e9a7';
}

.ICE-Icon-caption:before {
  content: '\e9a6';
}

.ICE-Icon-camera-on:before {
  content: '\e9b4';
}

.ICE-Icon-camera-off:before {
  content: '\e9b5';
}

.ICE-Icon-call-outgoing:before {
  content: '\e9b6';
}

.ICE-Icon-call-no-answered:before {
  content: '\e9b7';
}

.ICE-Icon-call-incoming:before {
  content: '\e9b8';
}

.ICE-Icon-call:before {
  content: '\e9b9';
}

.ICE-Icon-calendar:before {
  content: '\e9ba';
}

.ICE-Icon-blogs:before {
  content: '\e9bb';
}

.ICE-Icon-block-in-frame:before {
  content: '\e9bc';
}

.ICE-Icon-audio-setting:before {
  content: '\e9bd';
}

.ICE-Icon-attendace:before {
  content: '\e9be';
}

.ICE-Icon-attachment:before {
  content: '\e9bf';
}

.ICE-Icon-analytics:before {
  content: '\e9c0';
}

.ICE-Icon-add-photo:before {
  content: '\e9c1';
}
